.home {
    padding: 20px;
    width: 100%;
  }
  
#home{
  width: 100%;
  margin-top: 500%;
  width: 102%;
}  
.home .card {
    margin-bottom: 20px;
  }

.animate {
  background-image: url('/public/Background.jpg'); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 97%;
}

.animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay to darken the image */
  z-index: 1;
}

.project-card {
  position: relative;
  overflow: hidden;
  border: none;
}

.image-wrapper {
  position: relative;
}

.project-img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Faded background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-img {
  transform: scale(1.1);
}

.project-card:hover .overlay {
  opacity: 1;
}


#profile{
  z-index: 3;

}

#tech{
  text-align: left;
}
#tech li{
  text-align: left;
}

#prof{
  align-self: center;
  
}

@media only screen and (max-width: 900px) {
  #home{
    width: 106%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

